[auth]
server = "${OTA_AUTH_URL}"
client_id = "${OTA_AUTH_CLIENT_ID}"
secret = "${OTA_AUTH_SECRET}"
credentials_file = "${OTA_CREDENTIALS_FILE}"

[device]
uuid = "${OTA_DEVICE_UUID}"
vin = "${OTA_CLIENT_VIN}"

[gateway]
console = ${OTA_CONSOLE}
http = ${OTA_HTTP}
websocket = ${OTA_WEBSOCKET}

[ota]
server = "${OTA_CORE_URL}"
polling_interval = 10
packages_dir = "/tmp/"
package_manager = "${PACKAGE_MANAGER}"
