[auth]
server = "${OTA_AUTH_URL}"
client_id = "${OTA_AUTH_CLIENT_ID}"
secret = "${OTA_AUTH_SECRET}"
credentials_file = "/opt/ats/credentials.toml"
vin = "${OTA_CLIENT_VIN}"

[ota]
server = "${OTA_SERVER_URL}"
polling_interval = 10
packages_dir = "/tmp/"
package_manager = "${PACKAGE_MANAGER}"

[test]
looping = false
http = false
