[Unit]
Description=OTA+ Client
Wants=network-online.target
After=network.target network-online.target
Requires=network-online.target

[Service]
RestartSec=5
Restart=on-failure
Environment="RUST_LOG=info"
DefaultTimeoutStopSec=5
ExecStart=/opt/ats/sota_client --config /opt/ats/sota.toml

[Install]
WantedBy=multi-user.target
